### Python Programming Concepts

### 1. Create a variable to store the value 500 for sales

In [32]:
Sales = 500
print(Sales)

500

#### *What I did:*

Stores = int(input("Enter number of stores"))

Sales = int(input("Enter the average sales per store"))

Revenue = Stores * Sales

print(Revenue)

#### *Notes:*

Sales -> leaving the variable like this will display the last variable only. 

Use print when you have more than one.

### 2. Create a variable to store several values:  
* sales: 500, 475, 625
* integers 1 - 9

In [34]:
SalesList = [500, 475, 625]
print(SalesList)

[500, 475, 625]

#### *Notes:*

SalesList[0] -> "[]" Slice the list, and the number inside indicates which value we want to retrieve (First value).

SalesList[-1] -> Get the last value of the list.

sum(SalesList) -> Will add up all the elements in the list.

sales.sort() -> Will PERMANENTLY sort it.

In [64]:
integers = list(range(1,10)) 
print(integers)

range(1, 10)

#### *What I did:*

#integers = [1,2,3,4,5,6,7,8,9]

#### *Notes:*

You can do this the inverse way to decrease the magnitude each step -> integers = list(range((10,1,-1))

#### 3. Create a variable to store the names and email addresses for a number of customers
* John, john@some.com; Ann, ann@some.com

In [16]:
customers = [
    {'name':'John', 'email':'john@some.com'},
    {'name':'Ann', 'email':'ann@some.com'}
]
customers[0]['email']

'john@some.com'

#### *What I did:*

customers = {"John":"john@some.com","Ann":"ann@some.com"}

print(customers)

#### 4. Use Python to generate a random value based on each of following:
1. between 0 and 1
2. the standard normal distribution (rounded to two decimal places)
3. a value between 1 and 10
4. either H or T

In [79]:
import random

random.random()

#from random import random
#random()

0.17406838160521265

#### *What I did:*

from random import random

random()

In [30]:
from random import random, normalvariate
round(normalvariate(),2)

0.32

In [83]:
from random import random, randint
randint(1,10)

7

In [87]:
from random import random, normalvariate, choice
choice(["H","T"])

'H'

#### 5. Use Python to determine your current working directory

I couldn't get this to work

#### 6. Use Python to determine how many days until New Year's Day

I couldn't get this to work

#### 7. Write a short program that displays the future value of 1,000 earning 5%  at the end of each year for the next 5 years

In [80]:
FutureValue = int(1000 *(1 + 0.05)**5)

FutureValue

1276

#### 8. Write a short program that prompts a user to enter a stock symbol and press enter. Add each symbol entered to a variable. The program should run until the user presses the enter key without entering anything (empty string)

In [96]:
x = input("Enter a stock symbol")
storage = []

while x:
    storage.append(x)
    x = input("Enter a stock symbol")

storage

Enter a stock symbol %
Enter a stock symbol &
Enter a stock symbol $
Enter a stock symbol #
Enter a stock symbol

['%', '&', '$', '#']

#### 9. Write the code necessary to calculate the sum of the square differences of a group of values : 
58, 32, 37, 41, 36, 36, 54, 37, 25, 53
##### $\Sigma $(${x}$ - $\bar{x}$)$^2$

In [ ]:
I couldn't get this to work

#### 10. Opening, reading and writing files

In [ ]:
import pandas as pd
df = pd.read_csv("File name")

#### 11. Create a function the will simulate rolling two die and return the value of each and the sum

In [105]:
from random import random, randint

dice1 = randint(1,6)
dice2 = randint(1,6)

total = dice1 + dice2

print(dice1,dice2,total)

5 3 8

#### 12. Write the code needed to evaluate whether a value in a group of values is negative or postive and prints an approriate message, i.e. postive, negative 
-1.59, 2.36, 1.69, 1.13, -0.91, 1.48, -0.34, 1.31, -0.74, 0.2

In [113]:
nplist = [-1.59,2.36,1.69,1.13,-0.91,1.48,-0.34,1.31,-0.74,0.2]

for i in range(nplist):
    if i < 0:
        print("positive")
    else:
        print("negative")

TypeError: 'list' object cannot be interpreted as an integer

I couldn't get this to work

#### 14.  Complete the following:
1. Write a program that generates 500 random integers from 1 to n, for example, the first integer will be 1 the second will be 1 or 2, the fifth between 1 and 5, and so on.
2. The program should write each integer to a file 
3. Once all integers are written close the file

##### Part 2
1. Open and read the file into a list
2. Create a line plot of the data

In [118]:
from random import random, randint

RandomStorage = []
x = 1

for i in range(500):
    RandomStorage.append(x)
    x = randint(1,i + 1)


RandomStorage

[1,
 1,
 1,
 2,
 1,
 4,
 3,
 1,
 1,
 2,
 6,
 5,
 6,
 6,
 4,
 14,
 8,
 2,
 5,
 6,
 8,
 21,
 8,
 3,
 6,
 21,
 10,
 1,
 17,
 27,
 9,
 13,
 4,
 27,
 10,
 22,
 33,
 13,
 17,
 18,
 13,
 20,
 9,
 28,
 2,
 4,
 16,
 14,
 34,
 14,
 12,
 38,
 33,
 18,
 11,
 29,
 19,
 7,
 48,
 58,
 56,
 8,
 15,
 30,
 30,
 14,
 64,
 3,
 42,
 12,
 10,
 69,
 49,
 8,
 51,
 7,
 13,
 56,
 4,
 76,
 50,
 63,
 77,
 16,
 25,
 32,
 12,
 84,
 9,
 63,
 17,
 91,
 34,
 15,
 39,
 43,
 28,
 25,
 15,
 8,
 20,
 54,
 53,
 75,
 103,
 43,
 15,
 32,
 47,
 65,
 73,
 5,
 26,
 19,
 90,
 65,
 71,
 55,
 93,
 117,
 41,
 70,
 3,
 23,
 38,
 17,
 114,
 102,
 67,
 107,
 24,
 17,
 18,
 54,
 20,
 6,
 79,
 60,
 76,
 53,
 112,
 135,
 7,
 53,
 12,
 9,
 20,
 2,
 28,
 122,
 19,
 127,
 7,
 44,
 89,
 48,
 59,
 106,
 71,
 132,
 32,
 124,
 94,
 60,
 79,
 15,
 46,
 166,
 13,
 57,
 71,
 145,
 96,
 110,
 100,
 171,
 45,
 169,
 114,
 44,
 80,
 19,
 29,
 161,
 176,
 98,
 133,
 45,
 23,
 167,
 128,
 117,
 68,
 1,
 170,
 102,
 170,
 75,
 64,
 197,
 59,
 150,
 36,
 117,
 2,
 130,
 83,
 113,
 94,
 87,
 152,
 201,
 150,
 142,
 97,
 215,
 75,
 91,
 4,
 188,
 173,
 183,
 56,
 173,
 58,
 115,
 157,
 188,
 74,
 93,
 15,
 114,
 142,
 140,
 186,
 89,
 36,
 4,
 29,
 215,
 45,
 216,
 121,
 126,
 26,
 25,
 16,
 222,
 145,
 118,
 21,
 45,
 3,
 74,
 103,
 126,
 119,
 194,
 207,
 70,
 73,
 182,
 39,
 177,
 72,
 86,
 237,
 230,
 112,
 90,
 196,
 210,
 99,
 83,
 128,
 155,
 105,
 51,
 85,
 73,
 31,
 139,
 227,
 254,
 202,
 150,
 104,
 127,
 259,
 242,
 163,
 269,
 224,
 199,
 72,
 258,
 121,
 263,
 285,
 200,
 194,
 147,
 134,
 178,
 169,
 298,
 225,
 80,
 30,
 211,
 83,
 202,
 34,
 120,
 104,
 115,
 94,
 295,
 92,
 304,
 296,
 175,
 61,
 192,
 190,
 188,
 312,
 261,
 156,
 196,
 16,
 263,
 52,
 142,
 65,
 29,
 85,
 171,
 238,
 102,
 157,
 18,
 59,
 188,
 85,
 27,
 198,
 338,
 311,
 221,
 167,
 138,
 295,
 6,
 331,
 271,
 351,
 217,
 159,
 254,
 12,
 141,
 351,
 102,
 212,
 162,
 27,
 41,
 270,
 294,
 316,
 205,
 343,
 259,
 4,
 6,
 321,
 28,
 111,
 273,
 44,
 253,
 252,
 251,
 324,
 320,
 53,
 327,
 160,
 233,
 197,
 258,
 335,
 189,
 110,
 282,
 380,
 212,
 272,
 153,
 76,
 119,
 105,
 120,
 292,
 5,
 10,
 21,
 218,
 362,
 281,
 188,
 397,
 395,
 201,
 265,
 106,
 293,
 286,
 173,
 391,
 382,
 85,
 114,
 315,
 317,
 10,
 378,
 112,
 44,
 148,
 119,
 280,
 149,
 136,
 425,
 137,
 147,
 228,
 252,
 310,
 340,
 223,
 30,
 44,
 194,
 120,
 156,
 288,
 378,
 326,
 171,
 407,
 27,
 448,
 351,
 393,
 410,
 260,
 422,
 127,
 305,
 224,
 234,
 59,
 327,
 464,
 30,
 61,
 399,
 413,
 326,
 162,
 98,
 221,
 36,
 416,
 184,
 304,
 215,
 171,
 475,
 451,
 305,
 372,
 247,
 186,
 23,
 127,
 445,
 173,
 290,
 433,
 324,
 99,
 433,
 179,
 263,
 59,
 207]

In [ ]:
wb = Workbook()

I couldn't get this to work